<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title %}{{ title }} | {% endif %}yosoynathel.com</title>
  {% if description %}
  <meta name="description" content="{{ description }}">
  {% endif %}
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
