---
layout: base.njk
title: Films
eleventyImport:
  collections: ["filmRatings"]
---

<article>
  <h1>Films</h1>

  <ul class="film-list">
    {% for film in collections.filmRatings %}
    <li class="film-item">
      <span class="film-title">{{ film.data.title }}</span>
      <time class="film-date" datetime="{{ film.data.watched | dateYYYYMMDD }}">{{ film.data.watched | dateYYYYMMDD }}</time>
      <span class="film-rating">{{ film.data.rating | ratingThumbs | safe }}</span>
    </li>
    {% endfor %}
  </ul>

  <p style="margin-top: 2rem;"><a href="/films/watchlist/">Watchlist</a></p>
</article>
